#Home {
  padding-top: 150px;
}
#Service {
  padding-top: 200px;
  height: 600px;
}
#ContactUS {
  padding-top: 70px;
}

#login {
  margin-top: 10%;
}

#register {
  margin-top: 10px;
}

#order {
  margin-top: 56px;
  padding-top: 20px;
}
